PORT=5000
NODE_ENV=development

# Database connection string (e.g. Neon PostgreSQL)
DATABASE_URL="postgresql://<user>:<password>@<host>/<dbname>?sslmode=require"

# Shared JWT secret
JWT_SECRET="your-super-secret-jwt-key"

# ImageKit credentials (if applicable)
IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_URL_ENDPOINT=""

#Transitland API key
TRANSITLAND_API_KEY="iwa_live_tlv2api_4f71b2b58d6c0ab50fa1d0e5ced924fd49c1c5c49d21985e4ogij8"
